<div class="reset-container">
    <div fxLayout="row" fxLayoutAlign="center center" class="content">
      <div fxFlex="0 1 600px" fxLayout="column" fxLayoutGap="8px">
          <form [formGroup]="resetForm" (ngSubmit)="reset()" *ngIf="!(success$ | async) else success">
              <mat-card>
                <mat-card-content fxLayout="column" fxLayoutGap="8px">
                  <div fxLayout="row" fxLayoutAlign="center center">
                    <img src="/assets/img/logos/logo-black.png" />
                  </div>
                  <h2>Password Reset</h2>
                  <mat-form-field>
                      <input type="password" matInput placeholder="Password" autocomplete="new-password" formControlName="password">
                  </mat-form-field>
                  <div class="error" *ngIf="(submitted$ | async) && resetForm.controls.password.errors">Please enter a password between 7 and 32 characters</div>
                  <mat-form-field>
                      <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword">
                  </mat-form-field>
                  <div class="error" *ngIf="(submitted$ | async) && !(passwordMatch$ | async)">Passwords don't match</div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" type="submit" [disabled]="loading$ | async" class="full-width">Reset</button>
                </mat-card-actions>
              </mat-card>
            </form>
      <ng-template #success>
        <mat-card>
            <mat-card-content fxLayout="column" fxLayoutGap="8px">
              <h2>Your password has been reset.</h2>
              <a routerLink="/account/login">Login</a>
            </mat-card-content>
          </mat-card>
      </ng-template>
      </div>
    </div>
  </div>
