<div>
  <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center start" *ngIf="selected$ | async as selected">
    <nanr-add-button name="Bushel" amount="20" price="$5" img="bushel.svg" [selected]="selected === 'bushel'" (click)="select('bushel')"></nanr-add-button>
    <nanr-add-button name="Bucket" amount="50" price="$12" img="bucket.png" [selected]="selected === 'bucket'" (click)="select('bucket')"></nanr-add-button>
    <nanr-add-button name="Mountain" amount="100" price="$22" img="mountain.png" [selected]="selected === 'mountain'" (click)="select('mountain')"></nanr-add-button>
  </div>
  <br/><br/>
  <div class="error" *ngIf="error$ | async">We were unable to process your payment</div>
  <div>
    <div id="form-container" >
        <div id="sq-card-number"></div>
        <div class="third">
          <div id="sq-expiration-date"></div>
        </div>
        <div class="third">
          <div id="sq-cvv"></div>
        </div>
        <div class="third">
          <div id="sq-postal-code"></div>
        </div>
      </div>
      <button mat-raised-button color="accent" (click)="onGetCardNonce($event)" class="full-width" [disabled]="loading$ | async">Get Nanrs!</button>
      <div class="error" *ngIf="error$ | async">An error has occured while processing the transaction</div>
  </div>
</div>
