<div class="app-container">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span><img src="/assets/img/logos/logo-white.png" /></span>
    <span class="fill"></span>
    <span matBadge="{{(user$ | async)?.balance}}" matBadgeColor="accent" [matBadgeOverlap]="true" class="nanr-icon" (click)="get()" id="nanr-cnt-container"><img src="/assets/img/button-imgs/banana.svg" width="60" height="40" id="nanr-cnt" /></span>
  </mat-toolbar>
  <div class="content">
    <mat-sidenav-container class="full-height">
      <mat-sidenav mode="side" opened class="menu-container" fxLayout="column" fxLayoutAlign="start start" [opened]="opened" #sidenav>
        <div class="menu-button" [ngClass]="{'selected': selected === 'home'}" (click)="nav('')">Stash</div>
        <mat-divider></mat-divider>
        <div class="menu-button" [ngClass]="{'selected': selected === 'nanrs'}" (click)="nav('purchase')">Nanrs</div>
        <mat-divider></mat-divider>
        <div class="menu-button" [ngClass]="{'selected': selected === 'creators'}" (click)="nav('integrate')">Toolbox</div>
        <mat-divider></mat-divider>
        <div class="menu-button" [ngClass]="{'selected': selected === 'transactions'}" (click)="nav('transactions')">Transactions</div>
        <mat-divider></mat-divider>
        <div class="menu-button" [ngClass]="{'selected': selected === 'withdraw'}" (click)="nav('withdraw')">Withdraw</div>
        <mat-divider></mat-divider>
        <div class="menu-button" [ngClass]="{'selected': selected === 'contact'}" (click)="nav('contact')">Contact</div>
        <mat-divider></mat-divider>
        <div class="menu-button" [ngClass]="{'selected': selected === 'profile'}" (click)="nav('profile')">Account</div>
        <mat-divider></mat-divider>
      </mat-sidenav>
      <mat-sidenav-content class="main-content">
        <ng-content *ngIf="!loading else spinner"></ng-content>
        <ng-template #spinner>
          <div fxLayout="row" fxLayoutAlign="center center" class="full-height">
            <mat-spinner></mat-spinner>
          </div>
        </ng-template>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
