@import 'src/styles.scss';

.app-container {
  height: 100vh;
}

.content {
  height: calc(100% - 64px);
}

.fill {
  flex: 1 1 auto;
}

.main-content {
  margin-top: 8px;
  padding: 8px;
  height: 100%;
}

.menu-container {
  background-color: mat-color($nanr-primary);
  width: 200px;
  color: #fff;
}

.menu-button {
  font-size: 26px;
  padding: 8px;
  cursor: pointer;
}

.selected {
  background-color: mat-color($nanr-accent);
}

.menu-button:hover {
  background-color: mat-color($nanr-primary, 200);
}

#nanr-cnt {
  margin-top: -8px;
  margin-right: -10px;
}

#nanr-cnt-container {
  margin-right: 28px;
  margin-top: 14px;
  cursor: pointer;
}
