<div fxLayout="row" class="full-width full-height" fxLayoutAlign="center center">
    <form class="login-form" fxFlex="0 1 600px" [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-card class="full-width">
        <mat-card-content>
          <div fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="center center">
                <img src="/assets/img/logos/logo-black.png" />
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
              <h2>Welcome Back!</h2>
            </div>
            <mat-form-field>
              <input matInput placeholder="Email" autocomplete="email" formControlName="email"/>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="password" placeholder="Password" autocomplete="current-password" formControlName="password" />
            </mat-form-field>
            <div class="error" *ngIf="hasError$ | async">Incorrect email or password.</div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button type="submit" mat-raised-button color="primary" *ngIf="!(isLoading$ | async)" class="full-width">Login</button>
          <button mat-raised-button color="primary" *ngIf="(isLoading$ | async)" disabled="true" class="full-width">Logging in...</button>
          <br /><br />
          <div>Don't have an account? <a href="javascript:void(0)" (click)="signupClick()">Signup</a></div>
        </mat-card-actions>
      </mat-card>
    </form>
</div>
