<form [formGroup]="signupForm" (ngSubmit)="signup()" class="signupForm">
  <mat-card>
    <mat-card-content fxLayout="column" fxLayoutGap="8px">
      <div fxLayout="row" fxLayoutAlign="center center">
        <img src="/assets/img/logos/logo-black.png" />
      </div>
      <h2>...because little things add up</h2>
      <div>Nanr enables you to support anyone by giving them a nano-contribution - which can later be exchanged by the recipient for cash.</div>
      <h2>Join the Nanrlution today!</h2>
      <mat-form-field>
        <input matInput placeholder="Email" autocomplete="email" formControlName="email">
      </mat-form-field>
      <div class="error" *ngIf="(submitted$ | async) && (signupForm.controls.email.errors)">Please enter a valid email address</div>
      <div class="error" *ngIf="(serverErrors$ | async).email">That email address is already being used</div>
      <mat-form-field>
          <input matInput placeholder="Username" autocomplete="username" formControlName="username">
        </mat-form-field>
        <div class="error" *ngIf="(submitted$ | async) && signupForm.controls.username.errors">Please enter a username between 3 and 12 characters containing only numbers, letters, - and _</div>
        <div class="error" *ngIf="(serverErrors$ | async).username">That username is already being used</div>
      <mat-form-field>
          <input type="password" matInput placeholder="Password" autocomplete="new-password" formControlName="password">
      </mat-form-field>
      <div class="error" *ngIf="(submitted$ | async) && signupForm.controls.password.errors">Please enter a password between 7 and 32 characters</div>
      <mat-form-field>
          <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword">
      </mat-form-field>
      <div class="error" *ngIf="(submitted$ | async) && !(passwordMatch$ | async)">Passwords don't match</div>
      <mat-checkbox formControlName="tos">I agree to the <a href="/assets/tos.html">terms of service</a></mat-checkbox>
      <div class="error" *ngIf="(submitted$ | async) && signupForm.controls.tos.errors">Please accept the TOS</div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="loading$ | async" class="full-width">Signup</button>
        <br /><br/>
        <div>Already have an account? <a href="javascript:void(0)" (click)='loginClick()'>Login</a></div>
        <br/><br />
        <a href="https://nanr.io">Learn More</a>
    </mat-card-actions>
  </mat-card>
</form>
