<nanr-app-frame selected="profile" [loading]="!profile">
  <div fxLayout="column" fxLayoutGap="8px" *ngIf="profile">
    <h2>Profile</h2>
    <div>These items will appear in your Nanr Stand.</div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      <div>Profile Picture: </div>
      <nanr-profile-pic [username]="profile.id" #profilePicture></nanr-profile-pic>
      <input type="file" (change)="profilePicUpload(profilePictureInput.files[0])" #profilePictureInput/>
    </div>
    <div class="error" *ngIf="profilePictureError$ | async as profilePicError">{{profilePicError}}</div>
    <form fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center" [formGroup]="taglineForm" (ngSubmit)="saveTagline()">
      <div fxLayout="column" fxFlex="250px">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Tagline" formControlName="tagline" />
        </mat-form-field>
        <div class="error" *ngIf="(isTaglineSubmitted$ | async) && (taglineForm.controls.tagline.errors)">Tagline can't be longer than 125 characters</div>
      </div>
      <button mat-mini-fab color="primary" (click)="editTagline()" *ngIf="!(isEditingTagline$ | async) else save">
        <mat-icon>edit</mat-icon>
      </button>
      <ng-template #save>
        <button type="submit" mat-mini-fab color="primary" [disabled]="isTaglineLoading$ | async">
          <mat-icon>save</mat-icon>
        </button>
      </ng-template>
    </form>
    <form fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start start" [formGroup]="bioForm" (ngSubmit)="saveBio()">
      <div fxLayout="column" fxFlex="250px">
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Bio" formControlName="bio" rows="10"></textarea>
        </mat-form-field>
        <div class="error" *ngIf="(isBioSubmitted$ | async) && (bioForm.controls.bio.errors)">Bio can't be longer than 500 characters</div>
      </div>
      <button mat-mini-fab color="primary" (click)="editBio()" *ngIf="!(isEditingBio$ | async) else save">
        <mat-icon>edit</mat-icon>
      </button>
      <ng-template #save>
        <button type="submit" mat-mini-fab color="primary" [disabled]="isBioLoading$ | async">
          <mat-icon>save</mat-icon>
        </button>
      </ng-template>
    </form>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      <label>Nanr Stand Image: </label>
      <input type="file" (change)="standPicUpload(standPictureInput.files[0])" #standPictureInput/>
    </div>
    <button mat-fab color="primary" (click)="deleteStandBackground()" [disabled]="isDeleteStandLoading$ | async">
      <mat-icon>delete</mat-icon>
    </button>
    <div class="error" *ngIf="standPictureError$ | async as standPicError">{{standPicError}}</div>
    <div class="stand-img" [ngStyle]="{'backgroundImage': standImage$ | async}"></div>
    <div>Nanr Stand Background color: </div>
    <div class="color-picker">
        <color-chrome [color]="profile.backgroundColor" (onChangeComplete)="backgroundColorChange($event)"></color-chrome>
    </div>
    <label>Nanr Stand Text Color:</label>
    <form fxLayout="row" [formGroup]="textForm">
      <mat-radio-group formControlName="darkText">
        <mat-radio-button [value]="true">Dark</mat-radio-button>
        <mat-radio-button [value]="false">Light</mat-radio-button>
      </mat-radio-group>
    </form>
    <mat-divider></mat-divider>
    <h2>Account</h2>
    <div fxLayout="row" fxLayoutGap="4px">
      <div>Username:</div>
      <div><strong>{{profile.username}}</strong></div>
    </div>
    <form fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center" [formGroup]="emailForm" (ngSubmit)="saveEmail()">
      <div fxLayout="column" fxFlex="250px">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" formControlName="email" />
        </mat-form-field>
        <div class="error" *ngIf="(isEmailSubmitted$ | async) && (emailForm.controls.email.errors)">Please enter a valid email address</div>
        <div class="error" *ngIf="emailServerError$ | async as error">{{error}}</div>
      </div>
      <button mat-mini-fab color="primary" (click)="editEmail()" *ngIf="!(isEditingEmail$ | async) else save">
        <mat-icon>edit</mat-icon>
      </button>
      <ng-template #save>
        <button type="submit" mat-mini-fab color="primary" [disabled]="isEmailLoading$ | async">
          <mat-icon>save</mat-icon>
        </button>
      </ng-template>
    </form>
    <mat-divider></mat-divider>
    <h2>Change Password</h2>
    <form fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="start start" [formGroup]="passwordForm" (ngSubmit)="changePassword()">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" type="password" formControlName="password" />
      </mat-form-field>
      <div class="error" *ngIf="(isPasswordSubmitted$ | async) && (passwordServerError$ | async)">Incorrect Password</div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="New Password" type="password" formControlName="newPassword" />
      </mat-form-field>
      <div class="error" *ngIf="(isPasswordSubmitted$ | async) && passwordForm.controls.newPassword.errors">Please enter a password between 7 and 32 characters</div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword" />
      </mat-form-field>
      <div class="error" *ngIf="(isPasswordSubmitted$ | async) && !(passwordsMatch$ | async)">Passwords don't match</div>
      <div class="success" *ngIf="passwordSuccess$ | async">Your password has been changed</div>
      <button mat-raised-button color="primary" [disabled]="isPasswordLoading$ | async">Change Password</button>
    </form>
    <mat-divider></mat-divider>
    <div fxLayout="row">
      <button mat-raised-button (click)="logout()" [disabled]="logoutLoading$ | async">Logout</button>
    </div>
  </div>
</nanr-app-frame>
